
.DS_Store
.coverage
.coveragec
.coveralls.yml
.pytest*
.Python
.tox
.nox
.pytest_cache
.vscode/*
*.ipynb*
*.pyc
__pycache__/*
_jupyter
bin
build/*
dist/*
docs/requirements.out
docs/requirements.local.txt
fritzconnection.egg-info/*
include
lib_
.idea
x_*
docs_out
