
.DS_Store
.coverage
.coveragec
.coveralls.yml
.pytest*
.Python
.tox
.nox
.pytest_cache
.vscode/*
*.ipynb*
*.pyc
__pycache__/*
bin
build/*
dist/*
docs/_static/*
fritzconnection.egg-info/*
include
lib_
.idea
x_*
docs_out
